.noticia {
    background-color: var(--background-card);
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-left: 1em;
    margin-top: 2em;
    padding: 1em;
    width: 200px;
    box-shadow: 2px 2px 2px var( --sombra-card-mural);
    transition: .3s;
}

.noticia:hover {
    box-shadow: 4px 4px 4px var( --sombra-card-mural);
}


@media screen and (max-width: 550px){
    .noticia {
        padding: 0;
        margin-left: 0;
        margin-top: 2em;
        width: 78vw;
        height: 62vh;
        align-items: center;
        padding-bottom: 2em;
        border-radius: 2%;
    }
}