.noticia__descricao {
    font-size: 0.8em;
    line-height: 1.4em;
    padding: .4em;
    text-align: justify;
    width: 92%;
}

@media screen and (max-width: 550px){
    .noticia__descricao {
        width: 60vw;
    }

}