:root {
        /* texto */
        --branco-medio: #fefefe;
        --branco-texto: #fefefe;
        --preto-padrao: black;
        /* Fundo*/
        --vermelho-atletica: rgba(99, 1, 1, 1);
        --background: #e5e5e5;
        /* Títulos*/
        --titulo-h1: rgba(99, 1, 1, 1);
        --cinza-fundo:  rgba(229, 229, 229, 0.432);
        --titulo-h2: rgb(232, 182, 2);
        /* Menu*/
        --menu-cor: rgba(232, 182, 2, 0.836);
        --menu-hover: #fefefe;
        /* Links*/
        --azul-link: blue;
        --acessibilidade-links: black;
        --vermelho-link: rgba(99, 1, 1, 1);
        /* index*/
        --background-card: #fdfdfd;
        --sombra-card-mural: rgb(170, 170, 170);
        /* Modalidades*/
        --titulo-modalidade: black;
        --background-card-modalidade: whitesmoke;
        --fundo-quadro: rgba(99, 1, 1, 1);
        /* Quem Somos*/
        --shadow: rgb(182, 159, 159);
        /* Contato*/
        --formulario-borda: var(--vermelho-atletica);
        --formulario-botao: var(--vermelho-atletica);
        --formulario-botao-texto: var(--branco-texto);
        --vermelho-alerta: red;
    }


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: var(--background);

}

main {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

