.barra{
    background-color: var(--vermelho-atletica);
    color: var(--titulo-h2);
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    align-items: center;
    height: 8vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.barra__descricao{
    display: flex;
    align-items: center;
}

.descricao__logo{
    width: 3vw;
}

.descricao__texto{
    font-size: 1em;
    margin-left: .5em;
}

.usuario__nome{
    margin: unset;
}



.container{
    display: flex;
}

.menu {
    background-color: #1e1e1e;
    width: 18vw;
    min-height: 92vh;
}


.menu__item li{
    margin-top: 0;
    display: flex;
    align-items: center;
    padding: .8em;
    list-style: none;
    color: whitesmoke;
    border-bottom: .3px solid whitesmoke;
}

.menu__item li:hover{
    right: 10%;
    padding-left: 2em;
    transition: 0.3s;
}

.item_icone{
    width: 2vw;
    padding-right: 1em;
    filter: invert(100%) saturate(100%) brightness(100%) contrast(60%);
}


.info{
    background-color: #fefefe;
    width: 82vw;
}

.dados {
    border: 1px solid black;
    margin: 1em;
}

.item{
    padding: 1em;
}


.item li{
    width: 30vw;
    list-style: none;
    line-height: 2em;
    text-align: left;
}

.modalidades{
    border: 1px solid black;
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.eventos{
    border: 1px solid black;
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.eventos ul {
    display: flex;
}

.tabela{
    width: 100%;
}

.dados th, .dados td{
    text-align: left;
}

.dados .tabela {
    width: unset;
}
.dados th {
    width: 30vw;
}
.dados td {
    width: 67vw
}

.tabela td, .tabela th{
    border: 1px solid black;
    padding: .8em;
}

.tabela th{
    background-color: var(--vermelho-atletica);
    color: #fefefe;
    width: fit-content;
}
