.contato__fieldset {
    padding: 5px;
    border: none;
    margin-top: 1em;
    width: 30%;
}

@media screen and (max-width: 1024px) {
    .contato__fieldset {
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .contato__fieldset {
        width: 90%;
    }
}