    <footer class="rodape" id="rodape">
        <section class="icones">
            <div class="icones__logo">
               <a href="http://www.fateczl.edu.br/" target="_blank" rel="noopener"><img class="iconesLogo__fatec" src="assets\img\rodape\logo_fatec_branco.png" alt="Logo da Fatec na cor branca"></a>
            </div>
            <div class="icones__redeSociais">
                <a href="https://www.facebook.com/atleticafateczl/" target="_blank" rel="noopener"><img class="iconesRedesSocias_icone" src="assets\img\rodape\facebook_img_white.ico" alt="imagem do ícone do facebook na cor branca"></a>
                <a href="https://www.instagram.com/atleticafateczl/" target="_blank" rel="noopener"><img class="iconesRedesSocias_icone" src="assets\img\rodape\instagram_img_white.ico" alt="imagem do ícone do instagram na cor branca"></a>
                <a href="mailto:fateczlatletica@gmail.com" target="_blank" rel="noopener"><img class="iconesRedesSocias_icone" src="assets\img\rodape\email_img.ico" alt="imagem do ícone de email na cor branca"></a>
            </div>
        </section>
        <div class="desenvolvimento">
            <p class="desenvolvimento__descricao">Desenvolvido por Alan Serafim, Fernando Silva, Pablo Pontes, Talita Santos e Thais Almeida &copy; 2022.</p>
        </div>
    </footer>
 