.container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 3% 1%;
}

.evento__form{
    display: flex;
    flex-direction: column;
    background-color: var(--vermelho-atletica);
    padding: 2em;
    color: white;
    border-radius: 24px;
    height: 600px;
}

.form__campos{
    display: flex;
    flex-direction: column;
}

.form__campos label{
    text-align: left;
    padding-top: 2em;
}

.form__campos input{
    border-radius: 12px;
    line-height: 2em;
}

.evento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.evento__banner{
    z-index: 1;
    background: rgb(41, 133, 161);
    height: 440px;
    display: flex;
    align-items: flex-end;
    border-radius: 24px;
}

.evento__banner img{
    width: 100%;
    border-radius: 24px;
}

.evento__data{
    z-index: 2;
    position: relative;
    bottom: -11%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2%;

    
}

.evento__data p{
    font-size: 4em;
    font-weight: bold;
    color: white;
    padding-top: 2%;
    margin: 0;
    height: 70px;

}

.evento__titulo{
    background-color: var(--vermelho-atletica);
    z-index: -1;
    position: relative;
    top: -20%;
    left: -8%;
    width: 108%;
    text-align: left;
    border-radius: 18px;
    height: 30vh;
    display: flex;
}

.evento__titulo-p{
    font-size: 1.6rem;
    font-weight: bold;
    align-self: flex-end;
    padding-left: 6%;
    height: 20px;
    color: white;
}

.form__botoes-comprar{    
    width: 300px;
    height: 4rem;
    border-radius: 12px;
    border: 3px grey solid;
    background-color: var(--titulo-h2);
    margin-top: 2em;
}

.form__botoes-comprar:hover{
    cursor: pointer;
    border-color: yellow;
}