<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--Metadados-->
        <%- include('../partials/head-meta'); %>
        <!--Icone-->
        <link rel="icon" href="assets\img\icon\logo_icone.ico" type="image/x-icon">
        <!--CSS: Base -->
        <link rel="stylesheet" href="./assets/css/normalize.css">
        <link rel="stylesheet" href="./assets/css/reset.css">
        <link rel="stylesheet" href="assets\css\base.css">
        <link rel="stylesheet" href="assets\css\usuario\erros.css">
        <!--Titulo da Página--> 
        <title>404</title>
    </head>
    <body>
        <section class="container">
            <a class="menu_link" href="index"><img class="img_menu" src="assets\img\erros\MENU PARA O NOT FOUND.png" alt=""></a>
            <img class="img_404" src="assets\img\erros\Oops! 404 Error with a broken robot-bro.svg" alt="">
            <a class="atribuicao" href="https://storyset.com/web" target="_blank" rel="noopener">Web illustrations by Storyset</a>
        </section>
    </body>
</html>

