<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--Metadados-->
        <%- include('../partials/head-meta'); %>
        <!--Icone-->
        <link rel="icon" href="assets\img\icon\logo_icone.ico" type="image/x-icon">
        <!--CSS: Base -->
        <link rel="stylesheet" href="./assets/css/normalize.css">
        <link rel="stylesheet" href="./assets/css/reset.css">
        <link rel="stylesheet" href="assets\css\base.css">
        <!--CSS: Rodapé-->
        <link rel="stylesheet" href="assets\css\rodape.css">
        <link rel="stylesheet" href="assets\css\rodape-icones\icones__redeSociais.css">
        <link rel="stylesheet" href="assets\css\rodape-icones\icones.css">
        <link rel="stylesheet" href="assets\css\rodape-icones\iconesLogo-fatec.css">
        <link rel="stylesheet" href="assets\css\rodape-icones\iconesRedesSocias-icone.css">
        <link rel="stylesheet" href="assets\css\rodape-desenvolvimento\desenvolvimento-descricao.css">
        <link rel="stylesheet" href="assets\css\rodape-desenvolvimento\desenvolvimento.css">
        <!--CSS: Rodape-->    
        <link rel="stylesheet" href="assets\css\usuario\barra.css">
        <%- include('../partials/head-js'); %>
        <!--Titulo da Página-->     
    <title>Usuário</title>
</head>
<body>
    <main id="conteudo">
    <section class="barra">
        <div class="barra__descricao">
            <img class="descricao__logo" src="./assets/img/menu-superior/logo_atletica.png" alt="Imagem do logo da Atlética da Fatec Zona Leste com um escudo nas cores vermelha e amarela e uma coruja branca">
            <h1 class="descricao__texto">BEM VINDO A PÁGINA DE MEMBROS DA ATLÉTICA</h1>
        </div>
        <div class="barra__icones">
            <!--ICONES DE NOTIFICAÇÃO, MENSAGENS, ETC-->
        </div>
        <div class="barra__usuario">
            <p class="usuario__nome">João da Silva</p>
        </div>
    </section>
    <div class="container">
        <section class="menu">
            <ul class="menu__item">
                <li><img class="item_icone" src="assets\img\usuario\person.svg" alt="">Meus dados</li>
                <li><img class="item_icone" src="assets\img\usuario\basketball.svg" alt="">Meus treinos</li>
                <li><img class="item_icone" src="assets\img\usuario\calendar.svg" alt="">Meus eventos</li>
            </ul>
        </section>
        <section class="info">
            <div class="dados">
                <p class="descricao">DADOS CADASTRADOS</p>
                <table class="tabela"> <!-- Tag de tabela-->
                        <tr>
                            <th>Nome: </th>
                            <td>Alan Nunes Serafim</td>
                        </tr>
                        <tr>
                            <th>CPF: </th>
                            <td>398.292.378-69</td>
                        </tr>
                        <tr>
                            <th>e-mail: </th>
                            <td>alan.seraf@gmail.com</td>
                        </tr>
                        <tr>
                            <th>telefone: </th>
                            <td>(11) 97081-0316</td>
                        </tr>
                        <tr>
                            <th>Data de Nascimento: </th>
                            <td>14/03/1991</td>
                        </tr>
                        <tr>
                            <th>Curso: </th>
                            <td>Desenvolvimento de Software Multiplataforma</td>
                        </tr>
                        <tr>
                            <th>Turno: </th>
                            <td>Manhã</td>
                        </tr>
                        <tr>
                            <th>Turma: </th>
                            <td>1º Semestre</td>
                        </tr>
                </table>

                <!--
                <ul class="item">
                    <li>Nome: Alan Nunes Serafim</li>
                    <li>CPF: 398.292.378-69</li>
                    <li>e-mail: alan.seraf@gmail.com</li>
                    <li>telefone: (11) 97081-0316</li>
                    <li>Data de Nascimento: 14/03/1991</li>
                    <li>Curso: Desenvolvimento de Software Multiplataforma</li>
                    <li>Turno: Manhã</li>
                    <li>Turma: 1º Semestre</li>
                </ul>
                -->
            </div>

            <div class="modalidades">
                <p class="descricao">MEUS TREINOS</p>
                <table class="tabela"> <!-- Tag de tabela-->
                    <thead> <!-- Cabeçalho da tabela -->
                        <tr>
                            <th>Modalidade</th>
                            <th>Genero</th>
                            <th>Dia dos treinos</th>
                            <th>Horário</th>

                        </tr>
                    </thead>
                    <tbody> <!-- Corpo da tabela -->
                        <tr>
                            <td>Futsal</td>
                            <td>Misto</td>
                            <td>Segunda-Feira / Terça-feira</td>
                            <td>2ª das 14:00 as 16:00 / 4ª das 13:00 as 15:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="eventos">
                <p class="descricao">MEUS EVENTOS</p>
                <table class="tabela"> <!-- Tag de tabela-->
                    <thead> <!-- Cabeçalho da tabela -->
                        <tr>
                            <th>Evento</th>
                            <th>Data</th>
                            <th>Horário de início</th>
                            <th>Horário de termino</th>
                            <th>Local</th>

                        </tr>
                    </thead>
                    <tbody> <!-- Corpo da tabela -->
                        <tr>
                            <td>INTERFATEC</td>
                            <td>10/10/2022</td>
                            <td>13:00 horas</td>
                            <td>00:00 horas</td>
                            <td>Rua São joão, Nº 1000, Itaquera - SP, CEP: 08555-100</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
        </section>
    </div>    

    </main>
    <!--Footer
    <%- include('../partials/footer'); %>
    -->
    <!--JS: Scripts (body)-->
    <%- include('../partials/body-js'); %>
</body>
</html>