<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--Metadados-->
        <%- include('../partials/head-meta'); %>
        <!--Icone-->
        <link rel="icon" href="assets\img\icon\logo_icone.ico" type="image/x-icon">
        <!--CSS: Base -->
        <link rel="stylesheet" href="./assets/css/normalize.css">
        <link rel="stylesheet" href="./assets/css/reset.css">
        <link rel="stylesheet" href="assets\css\base.css">
        <!--CSS: Rodapé-->
        <link rel="stylesheet" href="assets\css\rodape.css">
        <link rel="stylesheet" href="assets\css\rodape-icones\icones__redeSociais.css">
        <link rel="stylesheet" href="assets\css\rodape-icones\icones.css">
        <link rel="stylesheet" href="assets\css\rodape-icones\iconesLogo-fatec.css">
        <link rel="stylesheet" href="assets\css\rodape-icones\iconesRedesSocias-icone.css">
        <link rel="stylesheet" href="assets\css\rodape-desenvolvimento\desenvolvimento-descricao.css">
        <link rel="stylesheet" href="assets\css\rodape-desenvolvimento\desenvolvimento.css">
        <%- include('../partials/head-js'); %>
        <!--Titulo da Página-->     
    <title>Usuário</title>
</head>
<body>
    <main id="conteudo">

    </main>
    <!--Footer-->
    <%- include('../partials/footer'); %>
    <!--JS: Scripts (body)-->
    <%- include('../partials/body-js'); %>
</body>
</html>