.menu-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vermelho-atletica);
    height: auto;
    padding: .5em 1em 0em .5em;
}

@media screen and (max-width: 550px) {
    .menu-superior {
        flex-direction: column;
        padding: 0;
    }
    
} 