
.menu__links {
    display: flex;
    list-style: none;
    
}

.menu__links li {
    margin-left: 1.1em;
}

.menu__links a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--menu-cor);
}

.menu__links a:hover {
    color: var(--menu-hover);
}


@media screen and (max-width: 1260px) {
    .menu__links {
        flex-wrap: wrap;
        justify-content: center;

    }
    .menu__links a {
        line-height: 2em;
    }
}


@media screen and (max-width: 768px) {
    .menu__links {
        flex-wrap: wrap;
        justify-content: center;

    }
    .menu__links a {
        line-height: 2em;
    }
}

@media screen and (max-width: 550px) {
    .menu__links {
        flex-wrap: nowrap;
        flex-direction: column;
        position: absolute;
        left: -300px;
        transition: .4s;
    }
    .menu__links a {
        line-height: 2em;
    }
    .menu__botao:checked ~ .menu__links {
        display: flex;
        transform: translateX(300px);
        position: relative;
    }
    .menu__links li {
        margin-left: 0;
    }

} 