<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--Metadados-->
        <%- include('../partials/head-meta'); %>
        <!--Link-partials-->
        <%- include('../partials/head-links'); %>
        <!--CSS links-->       
        <link rel="stylesheet" href="assets\css\mural\mural.css">
        <link rel="stylesheet" href="assets\css\mural\mural-titulo.css">
        <link rel="stylesheet" href="assets\css\mural\noticia-conteudo.css">
        <link rel="stylesheet" href="assets\css\mural\noticia-descricao.css">
        <link rel="stylesheet" href="assets\css\mural\noticia-imagem.css">
        <link rel="stylesheet" href="assets\css\mural\noticia-titulo.css">
        <link rel="stylesheet" href="assets\css\mural\noticia.css">
        <link rel="stylesheet" href="assets\css\mural\noticias.css">
        <!--JS-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="./assets/JS/contraste.js"></script>
      <title>Acessibilidade</title>
</head>
<body>
    <!--Header-->
    <%- include('../partials/header'); %>
    <main id="main-acessibilidade">
        <ul class="breadcrumb">
            <li><a href="index">Início</a></li>
            <li>Acessibilidade</li>
        </ul>
        <h1>ACESSIBILIDADE</h1>
        <!--Plugin VLibras-->   
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
            <section class="PaginaAcessibilidade">
                <p>Este site foi desenvolvido para que pessoas com deficiência visual, baixa visão, daltonismo, deficiência auditiva e mobilidade reduzida possam navegar por meio de recursos como alto contraste, aumento de fonte, teclas de atalho, tradução para a Língua Brasileira de Sinais e navegação por teclado.</p>
                <p>Para aumentar a fonte, é só clicar no símbolo de A+ em nossa barra de acessibilidade. Caso queira voltar ao tamanho de fonte original, é só clicar em A-.</p>
                <p>Se for necessário, você também pode usar o zoom nativo do seu navegador, pressionando as teclas “Ctrl” e “+” para aumentar todo o site e “Ctrl” e “-“ para diminuir. Para voltar ao padrão, pressione “Ctrl” e “0”.</p>
                <p>Este site tem melhor acessibilidade quando acessado nas versões mais atualizadas do seu navegador web. Utilize sempre a versão mais recente de seu software.</p>
                <p>Teclas de atalho por navegadores</p>
                <p>Internet Explorer e Google Chrome:</p>
                <p>“Alt” + “1” - ir para o conteúdo</p>
                <p>“Alt” + “2” - ir para o menu</p>
                <p>“Alt” + “3” - ir para o rodapé</p>
                <p>Firefox:</p>
                <p>“Alt” + “Shift” + “número”</p>
                <p>Opera:</p>
                <p>“Shift” + “Escape” + “número”</p>
                <p>Safari e OmniWeb:</p>
                <p>“Ctrl” + “número”</p>
                <p>Navegação por tabulação</p>
                <p>Use a tecla Tab para navegar por elementos que recebem ação do usuário no site, tais como links, botões, campos de formulário e outros na ordem em que eles são apresentados na página, e Shift + Tab para retornar. Use as setas direcionais para acessar as informações textuais.</p>
                <p>Sugestões de programas disponíveis para pessoas com deficiência</p>
                <p>- Nitrous Voice Flux: controla o computador por voz. Gratuito;</p>
                <p>- NVDA: software livre para ler tela – vários idiomas (Windows);</p>
                <p>- YeoSoft Text: leitor de tela em inglês e português;</p>
                <p>- Jaws for Windows: leitor de tela – vários idiomas;</p>
                <p>- Virtual Vision: leitor de telas em português do Brasil;</p>
                <p>- DOSVOX: sistema para deficientes visuais (Windows ou Linux).</p>
                <p>- Talckback: leitor de tela disponível em smartphones Android.</p>
                <p>Observação: leia no manual do leitor de telas sobre a melhor forma de navegação em páginas web.</p><br>
                <!--<p>LIBRAS - Língua Brasileira de Sinais</p>
                <p>Este site é acessível em LIBRAS através do <a id="vlibraslink" href="http://www.vlibras.gov.br/" target="_blank">VLibras</a>.</p>
                <p>-Do lado direito de cada página do site existe o ícone de um Widget informando que o site é acessível em LIBRAS.</p>
                <p>-Para traduzir, basta clicar sobre o ícone e selecionar o texto que deseja traduzir.</p>-->
                </section>
    </main>
    <!--Footer-->
    <%- include('../partials/footer'); %>
    <!--javaScript links-->
    <script type="text/javascript" src="./assets/JS/fonte.js"></script>
    <script type="text/javascript" src="assets\JS\menu_movel.js"></script>
</body>
</html>